.digital {
    
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align:right;
    background-color: none;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: left;
    
  }
  
  .time {
    color: hsl(0, 0%, 4%);
    font-size: 2rem;
  }
